$primary-color: #38bdf8;
$background-color: #0f172a;

$primary-text: #f8fafc;
$secondary-text: #94a3b8;
$link-color: #7dd3fc;

$card-bg: #1e293b;
$card-border: #334155;

$empty-message-color: #64748b;

$icons-color: #475569;

$error-title: #fda4af;
$error-text: #94a3b8;
$error-bg: rgba(244, 63, 94, 0.05);
$error-btn: #fb7185;

$transition-duration: 0.2s;
$main-transition-func: ease-in-out;
